header {
  height: 100%; }

header hr {
  display: block;
  height: 1px;
  width: 30%;
  border: 0;
  border-top: 1px solid #ffffff;
  margin: 3em auto; }

#intro {
  background: #fff; }

#intro h3 {
  margin: 0; }

h1 {
  color: #fff; }

/*
 * Features section
 */
.feature {
  margin-bottom: 30px; }

/* These divs have a SVG background on supporting browsers, and a PNG fallback
 * The image source is specified in templates/main.html as an inline style, in
 * order to avoid specifying URLs in more than one location */
.divimg {
  margin: 0 auto;
  width: 4.28571em;
  height: 4.28571em; }

/* Fix spacing on main page */
#features {
  margin-bottom: 0; }

.feature > p:last-child {
  margin-bottom: 0; }

/* Necessary to fix column height issues... yuck */
@media (min-width: 992px) {
  .feature:nth-child(3n+1) {
    clear: left; } }
@media (max-width: 991px) {
  .feature:nth-child(2n+1) {
    clear: left; } }
.feature > h3 {
  font-size: 1.3em;
  text-align: center; }

.feature > p {
  text-align: center;
  margin: 15px 0;
  font-size: 1.1em; }

#contact h2 {
  margin: 0; }


.ribbon-wrapper-green {
  width: 170px;
  height: 170px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -45px;
  top: 60px;
  width: 280px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

/*
 * Navbar
 */
@media (max-width: 767px) {
  .no-js .navbar-header {
    display: none; }

  .no-js header {
    padding-top: 50px; } }
